/* font-family: 'Playfair Display', serif;
font-family: 'Signika', sans-serif; */

body{
    margin: 0;
    background-color: #050713;
    font-family: 'Signika', sans-serif;
}
ul{
    list-style: none;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 26px;
    outline: none;
}
ul{
    padding: 0;
}
.wrapper{
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    transition: all .2s;
}
a:hover{
    color: #FFE195;
}

/* HEADER 
================================================== */

.header {
    position: absolute;

    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.header.fixed{
    position: fixed;
    background-color: rgba(11, 19, 29, 0.9);
}

.header.fixed .header__inner{
    padding: 0;   
}
.header.fixed .logo{
    height: 40px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;
    padding-top: 60px;

}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;

}
.header__bot{
    margin: 0 auto;
    padding-bottom: 10px;
}

.logo{
    height: 80px;
    width: 80px;
}
.logo-img{
    display: block;
    width: 100%;
    height: 100%;
  }
 .header.fixed .logo{
     background-image: url('images/Logo-fixed.svg');
     background-repeat: no-repeat;
     background-position: center;
     va
 }
 .header.fixed .logo-img{
     display: none;
 } 

/* NAV
================================================== */
.nav{

}
.nav__list {
    display: flex;
    padding: 0;
}
.nav__item {
    margin-right: 20px;
}
.nav__item:last-child{
    margin-right: 0;
}
.tel{
    margin: 0 20px;
}
.tel a{
    color: #FFE195;
}

/* DROP DAWN MENU 
==================================================*/
.drop-down-menu{
    position: relative;
    transition: all .2s;
    margin: 0 auto;
    width: fit-content;

}


.drop-down-menu__btn{
    text-transform: uppercase;
    background-color: #FFE195;
    color: #000;
    line-height: 17px;
    padding: 6px 16px 6px 36px;
    position: relative;
    transition: all .2s;
    cursor: pointer;
    white-space: nowrap;
}
.drop-down-menu__btn::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 9px;
    background-image: url(images/btn/arrow-black.svg);
    top: 10px;
    left: 12px;
}
.drop-down-menu__btn:hover{
    background-color: #E7CC89;
}

.drop-down-menu__list {
    position: absolute;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    display: none;
}
.drop-down-menu:hover .drop-down-menu__list{
    display: block;
}
.drop-down-menu__item {
    line-height: 17px;
    color: #FFE195;
    width: max-content;
    padding: 6px 16px 6px 36px;
    transition: all .2s;
    cursor: pointer;
    background-color: #0E1420;
    margin-top: 6px;
    position: relative;
}
.drop-down-menu__item::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 9px;
    background-image: url(images/btn/arrow-gold.svg);
    top: 10px;
    left: 12px;
    transition: all .2s;
}
.drop-down-menu__item:hover{
    background-color: #E7CC89;
    color: #000;
}
.drop-down-menu__item:hover.drop-down-menu__item::before{
    background-image: url(images/btn/arrow-black.svg);
}


/* BURGER OLD
================================================== */
/* 
.burger{
    height: 24px;
    width: 30px;
    position: relative;
}
.burger::before,
.burger::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: #FFE195;
}
.burger::before{
    top: 0;
    left: 0;  
}
.burger::after{
    bottom: 0;
    left: 0;
}
.burger span{
    font-size: 0;
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: #FFE195;
    top: 50%;
    transform: translateY(-50%);
} */

/* BURGER ANIMATE
================================================== */
.menu{
    width: 50px;
    font-size: 0;
}
.burger {
    position: absolute;
    top: 5px;
    right: 0;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 80px;
    height: 80px;
    display: none;

  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#FFE195;
    stroke-width:2px;
    stroke-linecap:round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }




/* INTRO
================================================== */
.intro {
    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    height: 1307px;
}
.intro__inner{
    display: flex;
    justify-content: flex-end;

}
.intro__item {
    padding-top: 450px;
    width: 50%;
}
.intro__title {
    height: 95px;

    font-family: Playfair Display;
    font-weight: bold;
    font-size: 64px;
    line-height: 60px;

    color: #FFFFFF;

}

/* intro__buttons
================================================== */
.intro__buttons {
    display: flex;
    margin-top: 200px;
}
.social {
    display: flex;
    width: 50%;
}

.social-item {
    margin-right: 10px;
    cursor: pointer;
    transition: all .2s;
}
.social-item:last-child{
    margin-right: 0;
}
.social-item:hover{
    opacity: 0.8;
}


/* anchor  */
.inner__anchor{
    position: relative;
    animation-name: jump;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: infinite;


}
@keyframes jump{
    0%{
        top: 0;
        
    }
    50%{
        top: 5px;
    }

    100%{
        top: 0;

    }
}
.intro__anchor {
    width: 50%;
}
.intro__anchor-item{
    height: 36px;
    width: 22px;
    border: 2px solid #fff;
    border-radius: 11px;
    position: relative;
}
.intro__anchor-item::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 0px;
    left: 8px;
    top: 7px;
    border: 1px solid #fff;
    border-radius: 11px;
}
/* testimonails
================================================== */

.testimonails {
    margin-top: 95px;
}

.title,
.testimonails_title {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    color: #FFFFFF;
}
.testimonails__inner {
    margin-top: 28px;
}

.testimonails__item{
    padding-right: 30px;
    padding-left: 2px;
    width: 25%;
}
.testimonails__item:last-child{
    padding-right: 0px;
}
.testimonails__item-author {
    text-transform: uppercase;
}
.testimonails__item-text {
    margin-top: 16px;
}
/* SLIDER  
==================================================*/
.slick-list {
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.testimonails__slider {
    position: relative;
}
.testimonails__slider .slick-slider{
    position: relative;
}
.testimonails__slider .slick-arrow{
    width: 15px;
    height: 15px;
    outline: none;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    transform: rotate(45deg);
    padding: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFE195;
    border-right: none;
    border-top: none;
    opacity: 0.5;
    transition: all .2s;
    position: absolute;
    top: 0;
    z-index: 10;
}
.testimonails__slider .slick-arrow:hover{
    opacity: 1;
}
.testimonails__slider .slick-arrow.slick-prev{
    left: -45px;
}
.testimonails__slider .slick-arrow.slick-next{
    right: -45px;
    transform: rotate(225deg);
}
.testimonails__slider .slick-dots{
    display: flex;
    justify-content: center;
}
.testimonails__slider .slick-dots li button{
    font-size: 0;
    outline: none;
    margin: 4px;
    background-color: transparent;
    border: none;
    height: 0;
    width: 25px;
    border-bottom: 2px solid #FFE195;
    opacity: 0.5;
    cursor: pointer;
}
.testimonails__slider .slick-dots li.slick-active button{
    opacity: 1;
}
/* services
================================================== */
.services {
    margin-top: 95px;
}
.services__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px auto;
}
.services__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    width: 33%;
    max-width: 380px;

    background-color: rgba(27, 49, 75, 0.75);;

    text-align: center;

    padding: 60px 50px 20px 50px;
    margin-right: 20px;
    margin-top: 20px;

    cursor: pointer;
}
.services__item:nth-child(3){
    margin-right: 0px;
}
.services__item:nth-child(6){
    margin-right: 0px;
}
.services__item-logo {
    opacity: 0.5;
    transition: all .2s;
}
.services__item-title {
    text-transform: uppercase;
    transition: all .2s;
}
.services__item-link {
    min-width: 100%;
    background-color: #2D3A52;
    margin: 0 -50px;
    padding: 16px 0;

    text-transform: uppercase;
    transition: all .2s;
}
.services__item:hover .services__item-title{
    color: #FFE195;
}
.services__item:hover .services__item-link{
    background-color: #FFE195;
    color: #000;
}
.services__item:hover .services__item-logo{
    opacity: 1;
}

/* middle-section
================================================== */
.middle-section{
    background-image: url(/images/bg2.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    min-height: 1522px;
}
/* block 
================================================== */
.block {
    margin-top: 100px;
    padding: 75px 100px 20px 100px;
    background-color: rgba(27, 49, 75, 0.75);
}
.block__items {
    display: flex;
    justify-content: space-between;
}
.block__logo {
    width: 10%;
    width: 65px;
    height: 73px;
    margin-right: 25px;
}
.block__title {
    width: 40%;
    margin-right: 15px;
}
.block__text {
    width: 50%;
}
.block__link {
    text-align: center;
    color:rgba(255, 255, 255, 0.8);
    background-color: #2D3A52;
    padding: 15px 0;
    margin: 60px -100px 0;
    transition: all .2s;
    text-transform: uppercase;
    cursor: pointer;
}
.block__link:hover {
    color: #000;
    background-color: #FFE195;
    
}

/* middle-section__inner
================================================== */
.middle-section__inner {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}
.middle-section__inner__item{
    padding-right: 200px;
    width: 50%;

}
.middle-section__inner-text {
    margin-top: 18px;
}
.middle-section__inner-btn {
    margin-top: 18px;
    width: fit-content;
}
/* second block 
================================================== */
.block__title--bottom {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 56px;
    line-height: 52px;

color: #FFFFFF;
}

.block__tel a{
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    color: #FFE195;
}

/* BLOG 
================================================== */

.blog {
    margin-top: 100px;
}
.blog__inner{
    margin-top: 35px;
}
.blog__item {
    cursor: pointer;
    padding-right: 20px;

}

.blog__img {
    background-color: #FFE195;
}
.blog__img img{
    display: block;
    transition: all .2s;

}
.blog__date {
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;

}
.blog__title {
    opacity: 0.9;
    text-transform: uppercase;
    margin-top: 5px;
}
.blog__text {
    margin-top: 5px;
}
.blog__item:hover .blog__img img{
    opacity: 0.4;
}

/* BLOG SLIDER  
==================================================*/
.blog__slider .slick-dots{
    display: flex;
    justify-content: center;
    padding: 0;
}
.blog__slider .slick-dots li button{
    font-size: 0;
    outline: none;
    margin: 4px;
    background-color: transparent;
    border: none;
    height: 0;
    width: 25px;
    border-bottom: 2px solid #FFE195;
    opacity: 0.5;
    cursor: pointer;
}
.blog__slider .slick-dots li.slick-active button{
    opacity: 1;
}

/* FOOTER
================================================== */
.footer{
    background-image: url(/images/footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 100px;
}
.footer__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.nav--footer .nav__list{
    margin: 0;
}

.footer__brand{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.footer__brand-item:first-child{
    margin-right: 5px;
}
.footer__brand-item:nth-child(2){
    margin-right: 25px;
}


.footer__star {
    margin-top: 35px;
}
.footer__name {
    font-size: 14px;
    margin-top: 5px;
}
.footer__address {
    margin-top: 5px;
    font-size: 14px;
    color: #FFE195;
}


.social--footer{
    display: flex;
    margin-top: 15px;
}
.social-item--footer{
    margin-left: 10px;
    margin-right: 0;

}

.nav--footer .nav__list{
    text-transform: uppercase;
    flex-wrap: wrap;
}

.footer__top,
.footer__mid,
.footer__bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__bot{
    align-items: flex-end;

}
.footer__bot-right{
    opacity: 0.5;
}




/* RESPONSIVE
 ==================================================*/
 








    @media (max-width: 1199px) {
        /* header  */
        .logo {
            height: 50px;
            width: 50px;
        }
    
        .nav__item {
            margin-right: 10px;
        }
        .nav__item a{
            font-size: 14px;
        }
        /* intro  */
        .intro{
            height: auto;
        }
        /* services  */
        .services__item{
            width: 50%;
        }
     
        .services__item:nth-child(odd){
            margin-right: 20px;
        }
        .services__item:nth-child(even){
            margin-right: 0;
        }
     
    
        /* middle-section__inner */
    
        .middle-section__inner__item{
            padding-right: 50px;
        }
        /* blog  */
        .blog__item {
            width: 48%;
            margin-right: 2%;
            margin-top: 50px;
        }
        .blog__img{
        overflow: hidden;
        margin: 0 auto;
        }
        .blog__img img{
            width: 100%;
        }
    }
    




    @media (max-width: 991px) {
        /* header  */
        .header.show {
            display: flex;
            background-color: rgba(11, 19, 29, 0.9);
            height: 100vh;
        }
 
        /* nav  */
        .header.fixed .burger{
            top: -10px;
            right: -10px;
        }
        .header.show.fixed{
            height: 100vh;
        }
        .header.show .nav{
            display: flex;
            position: absolute;
        }
        .header.show .nav .nav__list{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            position: absolute;
            top: 40px;
            left: 20px;
            margin: 0;
        }
        .header.show .nav .nav__list .nav__item{
            padding: 8px 0;
        }
        .header__bot{
            width: 100%;
        }
        .header.show .drop-down-menu {
            margin-left: 0;

        }
        .header.show .drop-down-menu__btn{
            display: none;
        }
        .header.show .drop-down-menu__list{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 10px;
            top: 320px;


        }

     
        .header__inner{
            padding-top: 20px;
            flex-direction: column;
        }
        .nav{
            display: none;
        }

        .nav--footer{
            display: flex;
            font-size: 12px;
        }
    
        /* burger */
        .burger{
            order: 1;
            background-color: transparent;
            border: none;
            min-width: 80px;

        }
        .ham{
            display: block;
        }
        /* intro */
        .intro__inner{
            justify-content: center;
        
        }
        .intro__item {
            padding: 250px 100px 0 100px;
            width: 100%;
            
        }
        /* services */
        .services__item{
            width: 48%;
        }
        .services__item:nth-child(even){
            margin-right: 0;
        }
        /* block */
        .block{
            padding: 20px;
            margin-right: -10px;
            margin-left: -10px;
        }
        .block__items{
            flex-direction: column;
        }
        .block__logo,
        .block__title,
        .block__text{
            width: 100%;
            margin-top: 15px;
        }
        .block__link{
            margin-top: 15px;
    
        }
        .middle-section__inner {
            justify-content: center;
        }
        .middle-section__inner__item{
            padding: 0 100px;
            width: 100%;
        
        }




@media (max-width: 767px) {
       
        /* drop-down-menu  */
        .drop-down-menu .drop-down-menu__btn{
            padding: 6px 46px 6px 76px;
        }
        .drop-down-menu .drop-down-menu__btn::before{
            left: 56px;
        }

        /* title  */
        .intro__title,
        .block__title--bottom{
            font-size: 36px;
            line-height: 34px;
        }
        .title{
            font-size: 26px;
            line-height: 35px;
        }
        /* intro  */
   
        .intro__item {
            padding: 155px 0 0 0;
            width: 100%;
            text-align: center;
        }
        .intro__buttons .social{
            display: none;
        }

        .intro__buttons {
            margin-top: 20px;
        }
         /* services */
         .services__items{
            margin: 0 auto;
            width: 280px;
        }
    
        .services__item {
            padding: 30px 0;
            width: 130px;
            display: flex;
            justify-content: center;
            height: 130px;
            position: relative;
            margin-bottom: 50px;
            
        }
     
        .services__item:nth-child(even),
        .services__item:nth-child(3),
        .services__item:nth-child(6){
            margin-right: 0px;
        }
        .services__item:nth-child(odd){
            margin-right: 20px;
        }

        .services__item-text,
        .services__item-link{
            display: none;
        }
        .services__item-title{
            font-size: 16px;
            position: absolute;
            text-align: center;
            width: 130px;
            top: 140px;

        }


        .services__item-logo{
    
        }

        /* middle-section
        ================================================== */
        .middle-section{
            background-image: none;
        }

        /* block  */
        .block{
            margin-right: -10px;
            margin-left: -10px;
        }
        .middle-section__inner__item {
            padding: 0;
        }
            /* blog  */
            .blog__item{
                width: 100%;
            }
            
            /* footer  */
            .footer__top,
            .footer__mid,
            .footer__bot{
                flex-direction: column;
                align-items: flex-start;
            }
      
}








